In [1]:
import netCDF4 as nc
import pandas as pd
import numpy as np
from datetime import datetime, timezone, timedelta, date
import calendar
from scipy.stats import pearsonr

pdsi_file = 'pdsi.mon.mean.nc'
pdsi_data = nc.Dataset(pdsi_file)

pdsi_sc_file = 'pdsi.mon.mean.selfcalibrated.nc'
pdsi_sc_data = nc.Dataset(pdsi_sc_file)

In [19]:
print(pdsi_data)
print('\n================================\n')
print(pdsi_sc_data)

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_CLASSIC data model, file format NETCDF3):
    title: Global Monthly Dai Palmer Drought Severity Index
    history: recreated Feb 2007 from data at NCAR webpage
    References: https://www.psl.noaa.gov/data/gridded/data.pdsi.html
    original_source: NCAR/UCAR: A Dai.
    comments: This version of the dataset (1870-2005) supersedes the 1870-2003 version art PSD before Feb 2007
    Conventions: COARDS
    details: see ncar for more detials and updates
http://www.cgd.ucar.edu/cas/catalog/climind/pdsi.html
use reference Dai, A., K. E. Trenberth, and T. Qian, 2004:
A global data set of Palmer Drought Severity Index for 1870-2002:
Relationship with soil moisture and effects of surface warming.
J. Hydrometeorology, 5, 1117-1130.
    dataset_title: Palmer Drought Severity Index
    dimensions(sizes): lon(144), lat(55), time(1632)
    variables(dimensions): float32 pdsi(time, lat, lon), float32 lon(lon), float32 lat(lat), float64 time(time)
    groups:

================================

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_CLASSIC data model, file format NETCDF3):
    title: Global Monthly Dai Palmer Drought Severity Index
    history: created Apr 2013 from data at NCAR webpage:updated Nov 2015 from new dataset version
    References: https://www.psl.noaa.gov/data/gridded/data.pdsi.html
    original_source: NCAR/UCAR: A Dai http://www.cgd.ucar.edu/cas/catalog/climind/pdsi.html.
    comments: original creation date: Thu Oct 25 15:25:40 MDT 2012 at NCAR. Updated at PSD Oct 2016 with corrected NCAR data
    Conventions: COARDS
    details: see ncar for more detials and updates
    description:
Monthly Self-calibrated Palmer Drought Severity Index (scPDSI)
calculated using observed surface air temperature (HadCRUT4 from
http://www.cru.uea.ac.uk/cru/data/temperature/ ) and
precipitation (from Dai et al. (1997, J.Clim: for 1870-1947) +
Chen et al. (2002, J. Hydromet.: for 1948-1978 + GPCP v2.2 for
1979-present. The Dai and Chen P data were adjusted to have the
same mean as the GPCP data over the 1979-1996 period).
Calibration (or reference) period is 1950-1979.
Wind speed and air pressure data were from 20CR v2. Other data
were based on CRU TS3.22. Documention:
Dai, A., 2011a: Characteristics and trends in various forms of the
Palmer Drought Severity Index (PDSI) during 1900-2008. J. Geophys.
Res., 116, D12115, doi:10.1029/2010JD015541.
Dai, A., K. E. Trenberth, and T. Qian, 2004: A global data set of
Palmer Drought Severity Index for 1870-2002: Relationship with soil
moisture and effects of surface warming. J. Hydrometeorology, 5,
1117-1130. Data source: Dr. A. Dai/NCAR (adai@ucar.edu). See
http://www.cgd.ucar.edu/cas/catalog/climind/pdsi.html for updates.
WARNING: PDSI and scPDSI over the higher latitudes (e.g., >50deg.)
may not be a good proxy of soil moisutre content. Also, PDSI and
scPDSI are highly autocorrelated indices not good at resolving
sub-seasonal variations.  Please use with caution!
This is a normalized version so that every grid box has the same
s.d. as that in the central U.S. during the calibr. period (1950-79)
    dataset_title: Palmer Drought Severity Index
    dimensions(sizes): lon(144), lat(55), time(1980)
    variables(dimensions): float32 pdsi(time, lat, lon), float32 lon(lon), float32 lat(lat), float64 time(time)
    groups:

In [20]:
print(pdsi_data['lat'])
print('\n================================\n')
print(pdsi_data['lon'])
print('\n================================\n')
print(pdsi_data['pdsi'])
print('\n================================\n')
print(pdsi_data['time'])
print('\n================================\n')
print(pdsi_sc_data['lat'])
print('\n================================\n')
print(pdsi_sc_data['lon'])
print('\n================================\n')
print(pdsi_sc_data['pdsi'])
print('\n================================\n')
print(pdsi_sc_data['time'])

<class 'netCDF4._netCDF4.Variable'>
float32 lat(lat)
    units: degrees_north
    long_name: Latitude
    actual_range: [-58.75  76.25]
    standard_name: latitude
    axis: Y
unlimited dimensions:
current shape = (55,)
filling on, default _FillValue of 9.969209968386869e+36 used

================================

<class 'netCDF4._netCDF4.Variable'>
float32 lon(lon)
    units: degrees_east
    long_name: Longitude
    actual_range: [-178.75  178.75]
    standard_name: longitude
    axis: X
unlimited dimensions:
current shape = (144,)
filling on, default _FillValue of 9.969209968386869e+36 used

================================

<class 'netCDF4._netCDF4.Variable'>
float32 pdsi(time, lat, lon)
    statistic: Mean
    missing_value: -99999.0
    dataset: Dai Palmer Drought Severity Index
    long_name: Monthly Global Palmer Drought Severity Index: v2
    level_desc: Surface
    var_desc: Palmer Drought Severity Index
    add_offset: 0.0
    scale_factor: 1.0
    least_significant_digit: 2
    units: Standardized Units of Relative Dry and Wet
    actual_range: [-14.998861  14.999888]
    valid_range: [-15.  15.]
unlimited dimensions: time
current shape = (1632, 55, 144)
filling on, default _FillValue of 9.969209968386869e+36 used

================================

<class 'netCDF4._netCDF4.Variable'>
float64 time(time)
    units: hours since 1800-01-01 00:00:0.0
    actual_range: [ 613608. 1805016.]
    long_name: Time
    delta_t: 0000-01-00 00:00:00
    avg_period: 0000-01-00 00:00:00
    standard_name: time
    axis: T
unlimited dimensions: time
current shape = (1632,)
filling on, default _FillValue of 9.969209968386869e+36 used

================================

<class 'netCDF4._netCDF4.Variable'>
float32 lat(lat)
    units: degrees_north
    long_name: Latitude
    actual_range: [-58.75  76.25]
    standard_name: latitude
    axis: Y
unlimited dimensions:
current shape = (55,)
filling on, default _FillValue of 9.969209968386869e+36 used

================================

<class 'netCDF4._netCDF4.Variable'>
float32 lon(lon)
    units: degrees_east
    long_name: Longitude
    actual_range: [-178.75  178.75]
    standard_name: longitude
    axis: X
unlimited dimensions:
current shape = (144,)
filling on, default _FillValue of 9.969209968386869e+36 used

================================

<class 'netCDF4._netCDF4.Variable'>
float32 pdsi(time, lat, lon)
    statistic: Mean
    missing_value: -99999.0
    dataset: Dai Palmer Drought Severity Index: Self-calibrated
    long_name: Monthly Self-calibrated Palmer Drought Severity Index using Penman-Monteith PE
    level_desc: Surface
    var_desc: Palmer Drought Severity Index
    least_significant_digit: 2
    units: Standardized Units of Relative Dry and Wet
    actual_range: [-8.1602    8.160143]
    valid_range: [-100.  100.]
unlimited dimensions: time
current shape = (1980, 55, 144)
filling on, default _FillValue of 9.969209968386869e+36 used

================================

<class 'netCDF4._netCDF4.Variable'>
float64 time(time)
    units: hours since 1800-01-01 00:00:0.0
    actual_range: [ 438288. 1883904.]
    long_name: Time
    delta_t: 0000-01-00 00:00:00
    avg_period: 0000-01-00 00:00:00
    standard_name: time
    axis: T
unlimited dimensions: time
current shape = (1980,)
filling on, default _FillValue of 9.969209968386869e+36 used

In [28]:
print(pdsi_data['lat'][:])
print('\n================================\n')       #latitude coordinates are the same
print(pdsi_sc_data['lat'][:])
print('\n================================\n')
print(pdsi_data['lon'][:])
print('\n================================\n')       #longitude coordinates are the same
print(pdsi_sc_data['lon'][:])
print('\n================================\n')
print(pdsi_data['time'][:])                         #begins in 1870
print('\n================================\n')       #times are different
print(pdsi_sc_data['time'][:])                      #begins in 1850

[-58.75 -56.25 -53.75 -51.25 -48.75 -46.25 -43.75 -41.25 -38.75 -36.25
 -33.75 -31.25 -28.75 -26.25 -23.75 -21.25 -18.75 -16.25 -13.75 -11.25
  -8.75  -6.25  -3.75  -1.25   1.25   3.75   6.25   8.75  11.25  13.75
  16.25  18.75  21.25  23.75  26.25  28.75  31.25  33.75  36.25  38.75
  41.25  43.75  46.25  48.75  51.25  53.75  56.25  58.75  61.25  63.75
  66.25  68.75  71.25  73.75  76.25]

================================

[-58.75 -56.25 -53.75 -51.25 -48.75 -46.25 -43.75 -41.25 -38.75 -36.25
 -33.75 -31.25 -28.75 -26.25 -23.75 -21.25 -18.75 -16.25 -13.75 -11.25
  -8.75  -6.25  -3.75  -1.25   1.25   3.75   6.25   8.75  11.25  13.75
  16.25  18.75  21.25  23.75  26.25  28.75  31.25  33.75  36.25  38.75
  41.25  43.75  46.25  48.75  51.25  53.75  56.25  58.75  61.25  63.75
  66.25  68.75  71.25  73.75  76.25]

================================

[-178.75 -176.25 -173.75 -171.25 -168.75 -166.25 -163.75 -161.25 -158.75
 -156.25 -153.75 -151.25 -148.75 -146.25 -143.75 -141.25 -138.75 -136.25
 -133.75 -131.25 -128.75 -126.25 -123.75 -121.25 -118.75 -116.25 -113.75
 -111.25 -108.75 -106.25 -103.75 -101.25  -98.75  -96.25  -93.75  -91.25
  -88.75  -86.25  -83.75  -81.25  -78.75  -76.25  -73.75  -71.25  -68.75
  -66.25  -63.75  -61.25  -58.75  -56.25  -53.75  -51.25  -48.75  -46.25
  -43.75  -41.25  -38.75  -36.25  -33.75  -31.25  -28.75  -26.25  -23.75
  -21.25  -18.75  -16.25  -13.75  -11.25   -8.75   -6.25   -3.75   -1.25
    1.25    3.75    6.25    8.75   11.25   13.75   16.25   18.75   21.25
   23.75   26.25   28.75   31.25   33.75   36.25   38.75   41.25   43.75
   46.25   48.75   51.25   53.75   56.25   58.75   61.25   63.75   66.25
   68.75   71.25   73.75   76.25   78.75   81.25   83.75   86.25   88.75
   91.25   93.75   96.25   98.75  101.25  103.75  106.25  108.75  111.25
  113.75  116.25  118.75  121.25  123.75  126.25  128.75  131.25  133.75
  136.25  138.75  141.25  143.75  146.25  148.75  151.25  153.75  156.25
  158.75  161.25  163.75  166.25  168.75  171.25  173.75  176.25  178.75]

================================

[-178.75 -176.25 -173.75 -171.25 -168.75 -166.25 -163.75 -161.25 -158.75
 -156.25 -153.75 -151.25 -148.75 -146.25 -143.75 -141.25 -138.75 -136.25
 -133.75 -131.25 -128.75 -126.25 -123.75 -121.25 -118.75 -116.25 -113.75
 -111.25 -108.75 -106.25 -103.75 -101.25  -98.75  -96.25  -93.75  -91.25
  -88.75  -86.25  -83.75  -81.25  -78.75  -76.25  -73.75  -71.25  -68.75
  -66.25  -63.75  -61.25  -58.75  -56.25  -53.75  -51.25  -48.75  -46.25
  -43.75  -41.25  -38.75  -36.25  -33.75  -31.25  -28.75  -26.25  -23.75
  -21.25  -18.75  -16.25  -13.75  -11.25   -8.75   -6.25   -3.75   -1.25
    1.25    3.75    6.25    8.75   11.25   13.75   16.25   18.75   21.25
   23.75   26.25   28.75   31.25   33.75   36.25   38.75   41.25   43.75
   46.25   48.75   51.25   53.75   56.25   58.75   61.25   63.75   66.25
   68.75   71.25   73.75   76.25   78.75   81.25   83.75   86.25   88.75
   91.25   93.75   96.25   98.75  101.25  103.75  106.25  108.75  111.25
  113.75  116.25  118.75  121.25  123.75  126.25  128.75  131.25  133.75
  136.25  138.75  141.25  143.75  146.25  148.75  151.25  153.75  156.25
  158.75  161.25  163.75  166.25  168.75  171.25  173.75  176.25  178.75]

================================

[ 613608.  614352.  615024. ... 1803552. 1804296. 1805016.]

================================

[ 438288.  439032.  439704. ... 1882440. 1883184. 1883904.]

In [9]:
# go time, lat, lon
# assume the lat lon grid are crosspoints

# print('\n=================== MPWAPWA ======================\n')
# print("Lat range: ")
# print(pdsi_data['lat'][21:22])
# print("Lon range: ")
# print(pdsi_data['lon'][86:87])
# print('\n=================== Ujiji ======================\n')
# print("Lat range: ")
# print(pdsi_data['lat'][22:23])
# print("Lon range: ")
# print(pdsi_data['lon'][83:84])
print('\n=================== Tabora ======================\n')
print("Lat range: ")
print(pdsi_data['lat'][21:22])
print("Lon range: ")
print(pdsi_data['lon'][85:86])

# Gwyn Request (-18.933333, 47.516667)
# print('\n=================== Antananarivo ======================\n')
# print("Lat range: ")
# print(pdsi_data['lat'][16:17])
# print("Lon range: ")
# print(pdsi_data['lon'][91:92])

=================== Tabora ======================

Lat range:
[-6.25]
Lon range:
[33.75]

In [10]:
#FUNCTION FOR GETTING CSVS

# use date_ref as the date object to add the time delta to
#this assumes that data_array and time_array are the same size and correspond to one another
def get_locale_monthly_df(data_array, time_array, date_ref):

    monthly_dict = {        #doesn't make much sense to add an annual column for pdsi...
        'Year': [],
        'January': [],
        'February': [],
        'March': [],
        'April': [],
        'May': [],
        'June': [],
        'July': [],
        'August': [],
        'September': [],
        'October': [],
        'November': [],
        'December': []
    }

    for i in range(len(data_array)):
        date = date_ref + timedelta(hours=time_array[i])
        year, month = date.year, date.month

        if(month == 1):
            monthly_dict['Year'].append(year)       #update year only once every 12 months (in January)

        monthly_dict[calendar.month_name[month]].append(data_array[i])      #add data for that year and month to corresponding location

    monthly_df = pd.DataFrame(monthly_dict)
    print('Done transforming data. Resultant dataframe is: ')
    print(monthly_df)

    return monthly_df

def get_monthly_dfs_from_locale_list(name_list, lat_list, lon_list):

    locale_dfs = []

    for locale in range(len(name_list)):
        print(f'Converting DAI pdsi data for the locale {name_list[locale]}...')

        pdsi_array = pdsi_data['pdsi'][:, lat_list[locale][0]:lat_list[locale][1], lon_list[locale][0]:lon_list[locale][1]].reshape(-1)
        pdsi_sc_array = pdsi_sc_data['pdsi'][:, lat_list[locale][0]:lat_list[locale][1], lon_list[locale][0]:lon_list[locale][1]].reshape(-1)

        pdsi_array = pdsi_array.filled(fill_value=-999)
        pdsi_sc_array = pdsi_sc_array.filled(fill_value=-999)

        pdsi_all_start = date(1800, 1, 1)       #time ref

        locale_pdsi = get_locale_monthly_df(pdsi_array, pdsi_data['time'][:], pdsi_all_start)
        locale_pdsi_sc = get_locale_monthly_df(pdsi_sc_array, pdsi_sc_data['time'][:], pdsi_all_start)

        locale_dfs.append(locale_pdsi)
        locale_dfs.append(locale_pdsi_sc)

    return locale_dfs

In [11]:
# ANALYSIS FUNCTIONS

#Assumes you are using a df in the style of the one created by get_monthly_df
# appends the average to the df and returns edited df
def get_average_monthly_df(monthly_df):
    print("Getting average monthly data...")

    mean_list = []

    for row in range(monthly_df.shape[0]):

        # skip this row if it contains -999
        if(-999 in monthly_df.iloc[row].values):
            mean_list.append(-999)

        else:
            row_mean = 0
            for column in range(1, 13):
                row_mean += monthly_df.iloc[row][calendar.month_name[column]]

            row_mean = row_mean/12
            mean_list.append(row_mean)

    monthly_df.insert(monthly_df.shape[1], 'Mean', mean_list)

    print('Done calculating averages. Resultant dataframe is: ')
    print(monthly_df)

    return monthly_df

In [12]:
# Locales (lat (N), lon (E):
# Mpwapwa: -6.35, 36.48
# Ujiji: -4.91, 29.68
# # # Tabora: -5.02, 32.83

# Gwyn Request
# Antananarivo: 18.8792° S, 47.5079° E (-18.933333, 47.516667)

# locale_names = ['Mpwapwa', 'Ujiji']
# locale_filenames = ['mpwapwa_pdsi', 'mpwapwa_pdsi_sc', 'ujiji_pdsi', 'ujiji_pdsi_sc']   #2 csv files for each location
# locale_lats = [(21, 22), (22, 23)]
# locale_lons = [(86, 87), (83, 84)]

# Tabora
locale_names = ['Tabora']
locale_filenames = ['tabora_pdsi', 'tabora_pdsi_sc']
locale_lats = [(21, 22)]
locale_lons = [(85, 86)]

# Gwyn Request
# locale_names = ['Antananarivo']
# locale_filenames = ['antananarivo_pdsi', 'antananarivo_pdsi_sc']
# locale_lats = [(16, 17)]
# locale_lons = [(91, 92)]

In [13]:
locale_dfs = get_monthly_dfs_from_locale_list(locale_names, locale_lats, locale_lons)

# append averages to dfs

print('\n================= NOW GETTING AVERAGES =====================\n')

for df in range(len(locale_dfs)):
    print(f'Getting mean {"PDSI" if df % 2 == 0 else "PDSI SC"} for {locale_names[0] if df < 2 else locale_names[1]}...\n')
    locale_dfs[df] = get_average_monthly_df(locale_dfs[df])
    print(locale_dfs[df])
    print('\n===========================\n')

Converting DAI pdsi data for the locale Tabora...
Done transforming data. Resultant dataframe is:
     Year     January    February       March       April         May  \
0    1870 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1    1871 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2    1872 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3    1873 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4    1874 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..    ...         ...         ...         ...         ...         ...
131  2001    1.201257   -0.763090   -0.812093   -1.032997   -1.172778
132  2002    1.009029    1.007940   -0.082646   -0.448683    0.088745
133  2003   -0.632146   -1.512236   -2.598143   -3.003263   -3.298216
134  2004   -5.073907   -5.399509   -5.521308   -5.505021   -5.758524
135  2005   -4.060994   -4.465451   -4.380562   -4.100361   -3.402529

           June        July      August   September     October    November  \
0   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..          ...         ...         ...         ...         ...         ...
131   -1.135070   -0.813148   -0.811152   -0.675284   -0.744520    0.285177
132    0.113975    0.132304    0.111900    0.292196    0.381177    0.348670
133   -3.559211   -3.647722   -3.826371   -4.014549   -4.005903   -3.882868
134   -5.800562   -5.962543   -5.947773   -5.418908   -5.299631   -4.460505
135   -3.369843   -3.330477   -3.362063   -3.268376   -3.282982   -3.715718

       December
0   -999.000000
1   -999.000000
2   -999.000000
3   -999.000000
4   -999.000000
..          ...
131    0.365400
132    0.373789
133   -4.766847
134   -4.048278
135   -4.270239

[136 rows x 13 columns]
Done transforming data. Resultant dataframe is:
     Year     January    February       March       April         May  \
0    1850 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1    1851 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2    1852 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3    1853 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4    1854 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..    ...         ...         ...         ...         ...         ...
160  2010    0.139065    0.111698   -0.043237   -0.996703   -1.176546
161  2011   -1.819163   -1.848554   -1.502185   -1.941423   -2.026922
162  2012    0.221061    0.073288   -0.153304   -0.375458   -0.657351
163  2013   -0.416078   -1.001897   -1.053893   -0.824319   -1.008120
164  2014   -0.505012   -0.623236   -0.581542   -1.071485   -1.350176

           June        July      August   September     October    November  \
0   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..          ...         ...         ...         ...         ...         ...
160   -1.250822   -1.296885   -1.329457   -1.339341   -1.509953   -1.740263
161   -2.139949   -2.225156   -2.258869   -1.954449    0.432155    1.510424
162   -0.837202   -0.984289   -1.020118   -1.152728   -1.058522   -0.755365
163   -1.199875   -1.366022   -1.474194   -1.420042   -1.707058   -1.685022
164   -1.270833   -1.228378   -0.976415   -0.925571    1.514261    1.531435

       December
0   -999.000000
1   -999.000000
2   -999.000000
3   -999.000000
4   -999.000000
..          ...
160   -1.752790
161    1.819674
162   -0.342351
163   -0.785886
164    1.231852

[165 rows x 13 columns]

================= NOW GETTING AVERAGES =====================

Getting mean PDSI for Tabora...

Getting average monthly data...
Done calculating averages. Resultant dataframe is:
     Year     January    February       March       April         May  \
0    1870 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1    1871 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2    1872 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3    1873 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4    1874 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..    ...         ...         ...         ...         ...         ...
131  2001    1.201257   -0.763090   -0.812093   -1.032997   -1.172778
132  2002    1.009029    1.007940   -0.082646   -0.448683    0.088745
133  2003   -0.632146   -1.512236   -2.598143   -3.003263   -3.298216
134  2004   -5.073907   -5.399509   -5.521308   -5.505021   -5.758524
135  2005   -4.060994   -4.465451   -4.380562   -4.100361   -3.402529

           June        July      August   September     October    November  \
0   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..          ...         ...         ...         ...         ...         ...
131   -1.135070   -0.813148   -0.811152   -0.675284   -0.744520    0.285177
132    0.113975    0.132304    0.111900    0.292196    0.381177    0.348670
133   -3.559211   -3.647722   -3.826371   -4.014549   -4.005903   -3.882868
134   -5.800562   -5.962543   -5.947773   -5.418908   -5.299631   -4.460505
135   -3.369843   -3.330477   -3.362063   -3.268376   -3.282982   -3.715718

       December        Mean
0   -999.000000 -999.000000
1   -999.000000 -999.000000
2   -999.000000 -999.000000
3   -999.000000 -999.000000
4   -999.000000 -999.000000
..          ...         ...
131    0.365400   -0.509025
132    0.373789    0.277366
133   -4.766847   -3.228956
134   -4.048278   -5.349706
135   -4.270239   -3.750800

[136 rows x 14 columns]
     Year     January    February       March       April         May  \
0    1870 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1    1871 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2    1872 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3    1873 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4    1874 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..    ...         ...         ...         ...         ...         ...
131  2001    1.201257   -0.763090   -0.812093   -1.032997   -1.172778
132  2002    1.009029    1.007940   -0.082646   -0.448683    0.088745
133  2003   -0.632146   -1.512236   -2.598143   -3.003263   -3.298216
134  2004   -5.073907   -5.399509   -5.521308   -5.505021   -5.758524
135  2005   -4.060994   -4.465451   -4.380562   -4.100361   -3.402529

           June        July      August   September     October    November  \
0   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..          ...         ...         ...         ...         ...         ...
131   -1.135070   -0.813148   -0.811152   -0.675284   -0.744520    0.285177
132    0.113975    0.132304    0.111900    0.292196    0.381177    0.348670
133   -3.559211   -3.647722   -3.826371   -4.014549   -4.005903   -3.882868
134   -5.800562   -5.962543   -5.947773   -5.418908   -5.299631   -4.460505
135   -3.369843   -3.330477   -3.362063   -3.268376   -3.282982   -3.715718

       December        Mean
0   -999.000000 -999.000000
1   -999.000000 -999.000000
2   -999.000000 -999.000000
3   -999.000000 -999.000000
4   -999.000000 -999.000000
..          ...         ...
131    0.365400   -0.509025
132    0.373789    0.277366
133   -4.766847   -3.228956
134   -4.048278   -5.349706
135   -4.270239   -3.750800

[136 rows x 14 columns]

===========================

Getting mean PDSI SC for Tabora...

Getting average monthly data...
Done calculating averages. Resultant dataframe is:
     Year     January    February       March       April         May  \
0    1850 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1    1851 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2    1852 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3    1853 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4    1854 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..    ...         ...         ...         ...         ...         ...
160  2010    0.139065    0.111698   -0.043237   -0.996703   -1.176546
161  2011   -1.819163   -1.848554   -1.502185   -1.941423   -2.026922
162  2012    0.221061    0.073288   -0.153304   -0.375458   -0.657351
163  2013   -0.416078   -1.001897   -1.053893   -0.824319   -1.008120
164  2014   -0.505012   -0.623236   -0.581542   -1.071485   -1.350176

           June        July      August   September     October    November  \
0   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..          ...         ...         ...         ...         ...         ...
160   -1.250822   -1.296885   -1.329457   -1.339341   -1.509953   -1.740263
161   -2.139949   -2.225156   -2.258869   -1.954449    0.432155    1.510424
162   -0.837202   -0.984289   -1.020118   -1.152728   -1.058522   -0.755365
163   -1.199875   -1.366022   -1.474194   -1.420042   -1.707058   -1.685022
164   -1.270833   -1.228378   -0.976415   -0.925571    1.514261    1.531435

       December        Mean
0   -999.000000 -999.000000
1   -999.000000 -999.000000
2   -999.000000 -999.000000
3   -999.000000 -999.000000
4   -999.000000 -999.000000
..          ...         ...
160   -1.752790   -1.015436
161    1.819674   -1.162868
162   -0.342351   -0.586862
163   -0.785886   -1.161867
164    1.231852   -0.354592

[165 rows x 14 columns]
     Year     January    February       March       April         May  \
0    1850 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1    1851 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2    1852 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3    1853 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4    1854 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..    ...         ...         ...         ...         ...         ...
160  2010    0.139065    0.111698   -0.043237   -0.996703   -1.176546
161  2011   -1.819163   -1.848554   -1.502185   -1.941423   -2.026922
162  2012    0.221061    0.073288   -0.153304   -0.375458   -0.657351
163  2013   -0.416078   -1.001897   -1.053893   -0.824319   -1.008120
164  2014   -0.505012   -0.623236   -0.581542   -1.071485   -1.350176

           June        July      August   September     October    November  \
0   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..          ...         ...         ...         ...         ...         ...
160   -1.250822   -1.296885   -1.329457   -1.339341   -1.509953   -1.740263
161   -2.139949   -2.225156   -2.258869   -1.954449    0.432155    1.510424
162   -0.837202   -0.984289   -1.020118   -1.152728   -1.058522   -0.755365
163   -1.199875   -1.366022   -1.474194   -1.420042   -1.707058   -1.685022
164   -1.270833   -1.228378   -0.976415   -0.925571    1.514261    1.531435

       December        Mean
0   -999.000000 -999.000000
1   -999.000000 -999.000000
2   -999.000000 -999.000000
3   -999.000000 -999.000000
4   -999.000000 -999.000000
..          ...         ...
160   -1.752790   -1.015436
161    1.819674   -1.162868
162   -0.342351   -0.586862
163   -0.785886   -1.161867
164    1.231852   -0.354592

[165 rows x 14 columns]

===========================

In [14]:
# DOWNLOAD FILES

for file in range(len(locale_dfs)):
    filename = f'C:\\Users\\Cecile Dai\\Documents\\Professional\\McGill University\\IOWC\\Other Datasets\\Alternative_Datasets\\DAI PDSI\\dai_pdsi\\{locale_filenames[file]}.csv'
    locale_dfs[file].to_csv(filename, index=False)

IRRELEVANT
Only for fixing some tabora files to match the others.

In [44]:
tabora_pdsi_df = pd.read_csv('../locale_data/DAI/tabora_pdsi.csv')
tabora_pdsi_sc_df = pd.read_csv('../locale_data/DAI/tabora_pdsi_sc.csv')

tabora_pdsi_df = get_average_monthly_df(tabora_pdsi_df)
tabora_pdsi_sc_df = get_average_monthly_df(tabora_pdsi_sc_df)

# print(tabora_pdsi_df)
print('\n======================\n')
# print(tabora_pdsi_sc_df)

Getting average monthly data...
Done calculating averages. Resultant dataframe is:
     Year     January    February       March       April         May  \
0    1870 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1    1871 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2    1872 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3    1873 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4    1874 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..    ...         ...         ...         ...         ...         ...
131  2001    0.751824    0.398075    0.467179    0.444795    0.251886
132  2002    1.141401    1.285129    1.416446    1.313549    1.214510
133  2003   -0.702344   -1.435134   -2.404176   -2.845693   -2.736134
134  2004   -3.949282   -4.493617   -4.782063   -5.238981   -5.185505
135  2005    0.409329    0.168737    0.185230    0.547481    0.977692

           June        July      August   September     October    November  \
0   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..          ...         ...         ...         ...         ...         ...
131    0.248123    0.717805    0.771343    1.055452    1.013256    1.070348
132    1.139255    1.079066    0.904713    0.855349    1.099821    1.102579
133   -2.724200   -2.672214   -2.613832   -2.620058   -2.406896   -2.424246
134   -4.985554   -4.821053   -4.536236    0.450073    0.469785    0.606425
135    1.069780    1.168577    1.308274    1.594476    0.012387   -0.515354

       December        Mean
0   -999.000000 -999.000000
1   -999.000000 -999.000000
2   -999.000000 -999.000000
3   -999.000000 -999.000000
4   -999.000000 -999.000000
..          ...         ...
131    1.036024    0.685509
132   -0.145514    1.033859
133   -3.355634   -2.411713
134    0.600687   -2.988777
135   -1.110923    0.484641

[136 rows x 14 columns]
Getting average monthly data...
Done calculating averages. Resultant dataframe is:
     Year     January    February       March       April         May  \
0    1850 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1    1851 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2    1852 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3    1853 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4    1854 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..    ...         ...         ...         ...         ...         ...
160  2010   -0.750143    0.585349    0.040461   -1.964985   -2.100832
161  2011   -1.260548   -1.419650   -0.411496   -1.558823   -1.632407
162  2012   -0.214492   -0.186671   -0.643837   -1.460170   -1.764998
163  2013    0.026983   -0.615458   -0.174764   -0.461523   -1.101558
164  2014    0.011892   -0.384995   -0.523699   -1.867032   -2.624389

           June        July      August   September     October    November  \
0   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
1   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
2   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
3   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
4   -999.000000 -999.000000 -999.000000 -999.000000 -999.000000 -999.000000
..          ...         ...         ...         ...         ...         ...
160   -2.023519   -1.925185   -1.868824   -1.855336   -1.891248   -2.018221
161   -1.509528   -1.445037   -1.413961    0.440690    1.489790    1.664048
162   -1.791541   -1.802010   -1.495971   -1.616529    0.513684    0.929161
163   -1.069397   -1.029568   -1.030941   -0.672154   -1.271633   -0.971977
164   -2.552138   -2.446546   -2.144351   -1.723557    2.229814    1.970950

       December        Mean
0   -999.000000 -999.000000
1   -999.000000 -999.000000
2   -999.000000 -999.000000
3   -999.000000 -999.000000
4   -999.000000 -999.000000
..          ...         ...
160   -1.420793   -1.432773
161    1.880004   -0.431410
162    2.121974   -0.617617
163    1.375459   -0.583044
164    1.189712   -0.738695

[165 rows x 14 columns]

======================

In [45]:
tabora_filename = f'C:\\Users\\Cecile Dai\\Documents\\Professional\\McGill University\\IOWC\\Other Datasets\\Alternative_Datasets\\DAI PDSI\\dai_pdsi\\tabora_pdsi.csv'
tabora_pdsi_df.to_csv(tabora_filename, index=False)
tabora_sc_filename = f'C:\\Users\\Cecile Dai\\Documents\\Professional\\McGill University\\IOWC\\Other Datasets\\Alternative_Datasets\\DAI PDSI\\dai_pdsi\\tabora_pdsi_sc.csv'
tabora_pdsi_sc_df.to_csv(tabora_sc_filename, index=False)